<%- include('./includes/header.ejs') %>



    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Streamers List</h6>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <button class="btn btn-primary" onclick="loadStreams()">Add new Streamer</button>




                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-body">
                                        <video height="100%" width="100%" id="videoElement"></video>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="stopvplaying()" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>







                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Name</th>

                                    <th scope="col" class="sort" data-sort="route">Email</th>
                                    <th scope="col" class="sort" data-sort="route">Action</th>


                                </tr>
                            </thead>
                            <tbody class="list" id="tabledata">


                                <% users.forEach(function(el, index) {%>

                                    <tr>

                                        <td>
                                            <%= el.name %>
                                        </td>

                                        <td>
                                            <%= el.email %>
                                        </td>



                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                    <a class="dropdown-item" href="#">Edit</a>



                                                    <form method="POST" action="/admin/deleteUser">

                                                        <input name="id" value="<%=el._id %>" type="text" hidden>
                                                        <button class="dropdown-item" type="submit">Delete</a>
                                                    </form>


                                                </div>
                                            </div>
                                        </td>
                                    </tr>






                                    <%}); %>





                            </tbody>
                        </table>
                        <h1 id="demo"></h1>
                    </div>

                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>


        <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>

        <script>
            function openModald() {
                $('#exampleModal').modal('show');
            }
            var flvPlayer;

            function playStream(strm_id) {

                openModald();

                var vurl = 'http://localhost:8000/live/' + strm_id + '.flv';

                if (flvjs.isSupported()) {
                    var videoElement = document.getElementById('videoElement');
                    flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        url: vurl
                    });
                    flvPlayer.attachMediaElement(videoElement);
                    flvPlayer.load();
                    flvPlayer.play();
                }

            }


            function stopvplaying() {
                console.log("seraj", "playing")
                flvPlayer.pause();

            }
        </script>





    </div>

    <%- include('./includes/footer.ejs') %>